<h1>To-Do List (<span ng-bind="numActive"></span> item{{numActive==1 ? "" : "s"}} left)</h1>
<input type="text" ng-model="textInput">
<input type="button" ng-click="makeTask();" value="Submit">
<br>
<br>
<a>Filter by:</a>
<input type="button" ng-click="filterTasks(null, true);" value="All">
<input type="button" ng-click="filterTasks(false, null);" value="Active">
<input type="button" ng-click="filterTasks(true, null);" value="Completed">
<br>
<br>
<table>
  <tr ng-repeat="task in tasks | filter:filterVal">
    <td>
      <input type="checkbox" ng-click="toggleTask(task._id);" ng-checked="task.completed">
    </td>
    <td>
      <a ng-class="(task.completed) ? 'completed' : 'active'">{{task.text}}</a>
    </td>
    <td>
      <input type="button" ng-click="editTask(task._id, task.text);" value="✎">
    </td>
    <td>
      <input type="button" ng-click="deleteTask(task._id);" value="✗">
    </td>
  </tr>
</table>
