<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <title>Is It Christmas?</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
