body {
  font-family: "Raleway", sans-serif;
}

input[type=checkbox] {
  -ms-transform: scale(1.5); /* Internet Explorer */
  -moz-transform: scale(1.5); /* Firefox */
  -webkit-transform: scale(1.5); /* Chrome, Safari */
  padding: 10px;
}

.active {
  text-decoration: none;
  color: #000000;
}

.completed {
  text-decoration: line-through;
  color: #666666;
}
